In [1]:
import pandas as pd

# Suprima avisos
import warnings
warnings.filterwarnings('ignore')

# Carregar o arquivo CSV em um DataFrame
df = pd.read_csv('db_mega_atualizado.csv', header=1)

In [2]:
df.head()

   Conc.        Data   1   2   3   4   5   6  Gan.        Prêmio
0   2675  13/01/2024   1  26  31  34  42  45     0           NaN
1   2674  11/01/2024   8  14  15  21  23  46     0           NaN
2   2673  09/01/2024   4  27  35  45  52  56     0           NaN
3   2672  06/01/2024  10  13  20  40  43  56     1  6,480,136.97
4   2671  04/01/2024  16  19  43  53  57  58     0           NaN

In [3]:
df.describe()

,Conc.,1,2,3,4,5,6,Gan.
count,2675.000000,2675.000000,2675.000000,2675.000000,2675.000000,2675.000000,2675.000000,2675.000000
mean,1338.000000,8.614206,17.348411,26.358879,35.074019,43.566729,52.174206,0.343551
std,772.350309,6.996790,9.139231,9.971528,9.765564,9.043625,7.002746,1.292241
min,1.000000,1.000000,2.000000,3.000000,8.000000,11.000000,22.000000,0.000000
25%,669.500000,3.000000,10.000000,19.000000,28.000000,38.000000,49.000000,0.000000
50%,1338.000000,7.000000,16.000000,26.000000,35.000000,45.000000,54.000000,0.000000
75%,2006.500000,12.000000,23.000000,33.000000,42.000000,51.000000,58.000000,0.000000
max,2675.000000,50.000000,51.000000,56.000000,58.000000,59.000000,60.000000,52.000000

In [4]:
import statistics

# Números sorteados
numeros_sorteados = [1, 2, 3, 4, 5, 6]

# Calcular a média
media = statistics.mean(numeros_sorteados)

# Calcular a mediana
mediana = statistics.median(numeros_sorteados)

# Calcular a moda
moda = statistics.mode(numeros_sorteados)

print("Média:", media)
print("Mediana:", mediana)
print("Moda:", moda)

Média: 3.5
Mediana: 3.5
Moda: 1

In [5]:
df = df.drop(columns=['Conc.'])

In [6]:
df

            Data   1   2   3   4   5   6  Gan.        Prêmio
0     13/01/2024   1  26  31  34  42  45     0           NaN
1     11/01/2024   8  14  15  21  23  46     0           NaN
2     09/01/2024   4  27  35  45  52  56     0           NaN
3     06/01/2024  10  13  20  40  43  56     1  6,480,136.97
4     04/01/2024  16  19  43  53  57  58     0           NaN
...          ...  ..  ..  ..  ..  ..  ..   ...           ...
2670  08/04/1996   1   2   6  16  19  46     0           NaN
2671  01/04/1996   1   5   6  27  42  59     0           NaN
2672  25/03/1996  10  11  29  30  36  47     2    391,192.51
2673  18/03/1996   9  37  39  41  43  49     1  2,307,162.23
2674  11/03/1996   4   5  30  33  41  52     0           NaN

[2675 rows x 9 columns]

In [7]:
#df = df.rename(columns={'1': 'Coluna1', '2': 'Coluna2', '3': 'Coluna3', '4': 'Coluna4', '5': 'Coluna5', '6': 'Coluna6'})

In [8]:
#df

In [9]:
colunas_especificas = ['1', '2','3' ,'4' ,'5','6']

In [10]:
array_resultante = df[colunas_especificas].values

In [11]:
array_resultante

array([[ 1, 26, 31, 34, 42, 45],
       [ 8, 14, 15, 21, 23, 46],
       [ 4, 27, 35, 45, 52, 56],
       ...,
       [10, 11, 29, 30, 36, 47],
       [ 9, 37, 39, 41, 43, 49],
       [ 4,  5, 30, 33, 41, 52]], dtype=int64)

In [12]:
df['NovaColuna'] = pd.Series(array_resultante.tolist())

In [13]:
df.drop(['1', '2','3' ,'4' ,'5','6'], axis=1, inplace=True)

In [14]:
numeros_verificar = range(1, 61)

for numero in numeros_verificar:
    coluna_nome = numero
    df[coluna_nome] = df['NovaColuna'].apply(lambda lista: numero in lista)

In [15]:
df.drop(['NovaColuna','Prêmio'], axis=1, inplace=True)

In [16]:
df.replace({True: 1, False: 0}, inplace=True)

# Exibir o DataFrame resultante
print(df)

            Data  Gan.  1  2  3  4  5  6  7  8  ...  51  52  53  54  55  56  \
0     13/01/2024     0  1  0  0  0  0  0  0  0  ...   0   0   0   0   0   0
1     11/01/2024     0  0  0  0  0  0  0  0  1  ...   0   0   0   0   0   0
2     09/01/2024     0  0  0  0  1  0  0  0  0  ...   0   1   0   0   0   1
3     06/01/2024     1  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   1
4     04/01/2024     0  0  0  0  0  0  0  0  0  ...   0   0   1   0   0   0
...          ...   ... .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..
2670  08/04/1996     0  1  1  0  0  0  1  0  0  ...   0   0   0   0   0   0
2671  01/04/1996     0  1  0  0  0  1  1  0  0  ...   0   0   0   0   0   0
2672  25/03/1996     2  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0
2673  18/03/1996     1  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0
2674  11/03/1996     0  0  0  0  1  1  0  0  0  ...   0   1   0   0   0   0

      57  58  59  60
0      0   0   0   0
1      0   0   0   0
2      0   0   0   0
3      0   0   0   0
4      1   1   0   0
...   ..  ..  ..  ..
2670   0   0   0   0
2671   0   0   1   0
2672   0   0   0   0
2673   0   0   0   0
2674   0   0   0   0

[2675 rows x 62 columns]

In [17]:
df['Data'] = pd.to_datetime(df['Data'])

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import RandomOverSampler



# Separar os dados em recursos (X) e rótulos (y)
X = df.drop(['Data', 'Gan.'], axis=1)  # Removendo colunas não relevantes para a previsão
y = df['Gan.']

# Dividir os dados em conjunto de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Lidar com classes desbalanceadas usando RandomOverSampler
oversampler = RandomOverSampler(random_state=42)
X_resampled, y_resampled = oversampler.fit_resample(X_train, y_train)

# Padronizar os dados
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_resampled)  # Use os dados resampledados para treinamento
X_test_scaled = scaler.transform(X_test)

# Criar e treinar um modelo de Regressão Logística
modelo = LogisticRegression()
modelo.fit(X_train_scaled, y_resampled)

# Fazer previsões no conjunto de teste
previsoes = modelo.predict(X_test_scaled)

# Probabilidades associadas às previsões
probabilidades = modelo.predict_proba(X_test_scaled)[:, 1]

# Adicionar probabilidades ao DataFrame de teste
df_test = X_test.copy()
df_test['Probabilidade'] = probabilidades

# Ordenar o DataFrame pelos valores de probabilidade em ordem decrescente
df_test_mais = df_test.sort_values(by='Probabilidade', ascending=False)

# Exibir os 6 números mais prováveis de serem sorteados
numeros_mais_provaveis = df_test_mais.head(10).drop(['Probabilidade'], axis=1).values
print(f'Os 6 números mais prováveis: {numeros_mais_provaveis}')

# Ordenar o DataFrame pelos valores de probabilidade em ordem crescente
df_test_menos = df_test.sort_values(by='Probabilidade', ascending=True)

# Exibir os 6 números menos prováveis de serem sorteados
numeros_menos_provaveis = df_test_menos.head(10).drop(['Probabilidade'], axis=1).values
print(f'Os 6 números menos prováveis: {numeros_menos_provaveis}')

Os 6 números mais prováveis: [[0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
  0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0
  0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0
  0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0
  0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
  1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]]
Os 6 números menos prováveis: [[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
  0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1]
 [0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
  0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0]
 [0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0
  0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 0]]

In [19]:
from sklearn.metrics import accuracy_score

# Avaliar a acurácia do modelo
acuracia = accuracy_score(y_test, previsoes)
print(f'Acurácia do modelo: {acuracia}')

Acurácia do modelo: 0.3102803738317757

In [20]:
numeros_convertidos_mais = []
for linha in numeros_mais_provaveis:
    numeros_mais = [i + 1 for i, valor in enumerate(linha[1:]) if valor == 1]
    numeros_convertidos_mais.append(numeros_mais)

print('Os 3 sequencias números menos prováveis:')
for numeros_mais in numeros_convertidos_mais:
    print(numeros_mais)

    #5NPS

Os 3 sequencias números menos prováveis:
[3, 8, 14, 16, 33, 38]
[16, 24, 37, 44, 58]
[16, 21, 25, 27, 37, 41]
[3, 12, 16, 37, 47]
[6, 10, 18, 22, 39, 48]
[23, 27, 33, 37, 42, 52]
[4, 14, 27, 31, 37, 53]
[13, 19, 22, 38, 45, 49]
[15, 16, 37, 38, 44, 55]
[13, 23, 36, 39, 41, 44]

In [49]:
numeros_convertidos_menos = []
for linha in numeros_menos_provaveis:
    numeros_menos = [i + 1 for i, valor in enumerate(linha[1:]) if valor == 1]
    numeros_convertidos_menos.append(numeros_menos)

print('Os 3 sequencias números mais prováveis:')
json_sequencia = []
for numeros_menos in numeros_convertidos_menos:
    json_sequencia.append(numeros_menos)
    print(numeros_menos)

Os 3 sequencias números mais prováveis:
[2, 18, 33, 43, 55, 57]
[8, 12, 19, 31, 40, 57]
[4, 21, 22, 23, 33, 59]
[1, 4, 15, 19, 34, 42]
[1, 4, 14, 19, 42, 56]
[8, 13, 21, 23, 43, 46]
[1, 4, 7, 41, 45, 58]
[3, 18, 22, 28, 55, 58]
[4, 9, 25, 34, 37, 43]
[20, 37, 52, 55, 56, 57]

In [22]:
df[(df[2] == 1) & (df[18] == 1) & (df[33] == 1) & (df[43] == 1) & (df[55] == 1) & (df[57] == 1)]

Empty DataFrame
Columns: [Data, Gan., 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
Index: []

[0 rows x 62 columns]

In [23]:
df[(df[11] == 1) & (df[19] == 1) & (df[23] == 1) & (df[27] == 1) & (df[32] == 1) & (df[56] == 1)]

Empty DataFrame
Columns: [Data, Gan., 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
Index: []

[0 rows x 62 columns]

In [24]:
df[(df[5] == 1) & (df[15] == 1) & (df[22] == 1) & (df[23] == 1) & (df[27] == 1) & (df[37] == 1)]

Empty DataFrame
Columns: [Data, Gan., 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
Index: []

[0 rows x 62 columns]

In [25]:
df[(df[3] == 1) & (df[4] == 1) & (df[32] == 1) & (df[36] == 1) & (df[47] == 1) ]

Empty DataFrame
Columns: [Data, Gan., 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
Index: []

[0 rows x 62 columns]

In [51]:
import json

# Sua lista de listas
dados = json_sequencia

# Especificando o caminho do arquivo
caminho_arquivo = 'Mega_sequencias.json'

# Gravando a lista de listas em um arquivo JSON
with open(caminho_arquivo, 'w') as arquivo:
    json.dump(dados, arquivo)

print(f'Dados gravados no arquivo: {caminho_arquivo}')

Dados gravados no arquivo: Mega_sequencias.json

In [52]:
#Versao 3